html{
	font-family: $font-text;
	color: $color-secondary-dark;
	font-size: rem(16);
}
body{
	margin: 0;
	padding: 0;
	margin-top: 59px;
	//position: absolute;
	//top: 0;
	//bottom: 0;
	//width: 100%;
}

h1{
	font-size: $font-size-heading;
	color: $color-primary-dark;
	text-transform: uppercase;
}


.btn{
	text-decoration: none;
	color: $color-secondary-dark;
	background-color: #fff;
	padding: 20px;
	border-radius: unpack(5px);
	border: 1px $color-secondary-dark solid;

	&.download:before{
		content: "";
		background-image: url("../img/download.png");
		background-repeat: no-repeat;
		background-position: 0px 1px;
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-right: 5px;
	}
}