meta(id='viewport' content='width=device-width, initial-scale=1.0')
meta(id='X-UA-Compatible' content='IE=edge')

meta(property="og:title" content=config.title)
meta(property="og:type" content="website")
meta(property="og:url" content=config.siteUrl)
meta(property="og:image" content=config.siteUrl+"/"+config.openGraph.image)

meta(charset="UTF-8")
title= config.title
link(rel="stylesheet" type="text/css" href="public/css/style.css")


